body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    text-decoration: none;
    margin-left: 24px;
}

.image-placeholder {
    background-color: #70747c;
}

.hero, .header {
    justify-content: space-between;
    padding: 0 15%;
    display: flex;
    background-color: #1f2937;
    
}

.hero-header {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin:0;
}

.hero-copy, .header-link, .hero-button {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    margin-top: 12px;
    background-color: #3882f6;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    border-radius: 5px;
    padding: 6px 24px;
}

.hero-button:hover {
    color: #3882f6;
    background-color: #f9faf8;
}

.hero-container, .image-placeholder {
    flex:1;
}

.hero {
    gap:48px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-copy {
    margin:0;
}

.header {
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-gallery {
    display: flex;  
}

.card-image {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.card {
    text-align: center;
    width:200px;
}

